# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Spencer Berry
tagline: Works and progress
email: spencerwberry@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Spencer Berry's development portfolio. Pico-8, Godot, and Web Developer.
  Working with Python, Ruby, and Java Script.
baseurl: ""
url: "https://spncr.dev"
twitter_username: spencerberry
github_username:  spencerberry

# Build settings
markdown: kramdown
# theme: phantom
plugins:
  # jekyll-feed
  # jekyll-paginate
# paginate: 6
# paginate_path: "/posts/page:num/"

# jekyll-tagging (optional)
tag_permalink_style: pretty
tag_page_layout: tag_page
tag_page_dir: tag
category_dir: ''

collections:
  projects:
    output: true
    order:
      - gemsfall.md
      - baloof.md
      - toys.md
      - motionpictures.md
      - yoyodrawer.md
      - portfolio.md

defaults:
  -
    scope:
      path: ''
    values:
      layout: default
  -
    scope:
      path: pages
    values:
      layout: page
  -
    scope:
      type: projects
    values:
      layout: project
  -
    scope:
      type: posts
    values:
      layout: post
  -
    scope:
      path: categories
    values:
      layout: category
  -
    scope:
      path: "assets/img"
    values:
      image: true

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
