---
title: spncr
about: include about.md
---
<div class="about section">
  {% include about.html %}
</div>

<div class="projects section bright">
  <h2>Projects</h2>
  <ul class="tiles">
  {% for project in site.projects %}
    <li class="project tile smooth">
      <a href="{{ project.url }}">
        <img src="{{site.url}}/assets/img/{{project.image}}">
        <h3 class="title smooth">{{project.title}}</h3>
        <div class="tags">
          {% for tool in project.tools %}
            <span class="tag">{{tool}}</span>
          {% endfor %}
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="blog">
  <ul class="posts">
  {% for post in site.posts limit: 3 %}
    <li class="tile smooth"
      {% if post.coverImage %}
        style="background-color: yellow; background-image: {{site.url}}/assets/img/{{post.coverImage}};"
      {% else %}
        style="background-color: forestGreen;"
      {% endif %}>
      <a href="{{ post.url }}">
        {{post.title}}
      </a>
    {% endfor %}
  </ul>
</div>
