---
title: spncr
post-count: 3
---
<section class="about overlap-above">
  <pre class="contain text">
  I am human
    always changing
      striving to understand
        imagine and create
          I appreciate when thoughts dig
            through dark depths
          treaded murk
        tangled, worn flat
      muddy sullen itchy swollen
    to emerge fresh
  and simple</pre>
  <!--/preouch-->
</section>

<section class="bright">
  <h2>projects</h2>
  <ul class="tiles contain">
  {% for project in site.projects %}
    <li class="project tile smooth">
      <a href="{{ project.url }}">
        <img src="{{site.url}}/assets/img/{{project.image}}">
        <h3 class="title smooth">{{project.title}}</h3>
        <div class="tags">
          {% for tool in project.tools %}
            <span class="tag">{{tool}}</span>
          {% endfor %}
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

<section>
  <h2>archive</h2>
  <p class="contain">
    <a class="link smooth" href="{{site.url}}/archive">
      old posts from old sites
    </a>
  </p>
</section>

<!-- {% include contact.html%} -->
