:root{
  --dark: #170236;
  --darkest: #0c0218;
  --dark_bright: #1c0050;
  --cool : #b6c9e9;
  --cool_bright: #c7d8ff;
  --cool_dim: #3d4499;
  --warm: #eee9d3;
  --warm_bright: #fced9a;
  --warm_dim: #e8dfb0;
  --warning: #ff2a44;
  --alert : #ffc950;
  --success : #25c4da;
}

html {
  Font-Family: 'Open Sans', Sans-Serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--darkest);
  color: var(--warm);
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  Font-Family: 'Raleway', Sans-Serif;
}

h1 { font-size: 54px;}
h2 { font-size: 46px;}
h3 { font-size: 39px;}
h4 { font-size: 33px;}
h5 { font-size: 28px;}
h6 { font-size: 24px;}

a{
  color: var(--warm_bright);
  text-decoration: none;
}

a:visited{
  color: var(--warm_dim);
}

a:hover{
  color: var(--cool_bright);
}

header,
content > *,
footer{
  padding: 0 20px;
}

header{
  grid-area: header;
  background: url('../img/SMB2019.svg');
  background-repeat: repeat-x;
  background-position: top left;
  background-size: contain;
  padding-top: 20px;
  padding-bottom: 20px;
}

content{
  grid-area: main;
  padding: 4px 0 0;
  background-color: var(--darkest);
}

footer{
  border-top: 2px solid var(--cool_dim);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.about,
.projects,
.examples{
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects h2,
.examples h4{
  padding-bottom: 10px;
}

.about{
padding-top: 0;  }

.lists{
  padding-top: 10px;
}

.about {
  background-color: var(--darkest);
}

.about p{
  margin: 4px 0 10px;
}

.projects,
.examples{
  background-color: var(--dark_bright);
  border-top: 2px solid var(--cool_dim);
}

.projects ul,
.examples ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 264px));
  list-style: none;
  margin: 0;
  padding: 0;
}

.project,
.project h3,
.example ,
.example h5,
.nsfw,
.link,
.nav_link
{
  -webkit-transition: color .5s, border-color .5s, background-color .5s, opacity .4s;
  transition: color .5s, border-color .5s, background-color .5s, opacity .4s;

}

.project,
.example{
  background-color: var(--darkest);
  border: 4px solid var(--dark_bright);
}

.project img,
.example img{
  max-width: 256px;
  font-size: 0;
  line-height: 0;
}

.project h3,
.example h5{
  padding: 6px;
  margin: 0;
}

.project:hover,
.example:hover{
  background-color: var(--dark_bright);
  border-color: var(--cool);
}

.tools,
.roles{
  padding:  0 12px;
}

.tool,
.role{
  display: inline-block;
  position: relative;
  font-size: 14px;
  background-color: var(--cool_dim);
  color: var(--warm);
  padding: .1em .3em;
  margin: 0 10px 10px 0;
  border-radius: .1em;
  line-height: 1.2;
}

.links{
  background-color: var(--dark_bright);
  padding-top: 20px;
  padding-bottom: 20px;
}

.link{
  display: inline-block;
  background-color: var(--darkest);
  padding: 10px 20px;
  border: 2px solid var(--cool);
  border-radius: 8px;
  margin-right: 40px;
}

.link:hover{
  background-color: var(--dark);
}

.lists{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.example figure{
  margin: 0;
  position: relative;
  line-height: 0;
  display: block;
}
.example a{
  height: 100%;
  width: 100%;
}

.example .nsfw{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  font-size: 12px;
  bottom: 0;
  line-height: 1;
  text-transform: uppercase;
  background-color: var(--dark);
  opacity: .4;
  padding: 6px;
}

.example:hover .nsfw{
  opacity: .7;
  background-color: var(--warning);
  color: var(--dark_bright);
}

@media (min-width: 640px){

}
