:root{
  --dark: #170236;
  --darkest: #0c0218;
  --dark_bright: #1c0050;
  --cool : #b6c9e9;
  --cool_bright: #7398eb;
  --cool_dim: #3d4499;
  --warm : #e7dfb9;
  --warning: #ff2a7d;
  --alert : #ffc950;
  --success : #25c4da;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: grid;
  background-color: var(--darkest);
  color: var(--warm);
  margin: 0;
  grid-gap: .2em;
  grid-template-areas:
  "header"
  "main";
}

a{
  color: var(--cool);
}

a:visited{
  color: var(--cool_dim);
}

a:hover{
  color: var(--cool_bright);
}

header{
  padding: 6em 1em 0;
  grid-area: header;
  background: url('../img/SMBbgOG.svg');
  background-repeat: repeat-x;
  background-position: top left;
  background-size: contain;
}

h1{
  font-size: 3em;

}

a h1,
a h2 {
  color: var(--warm);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

nav{
  grid-area: nav;
}

content{
  grid-area: main;
  padding: 0;
  background-color: var(--darkest);
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project{
  box-sizing: border-box;
  border: 6px solid var(--dark_bright);;
  height: 100%;
  -webkit-transition: color 1s, border-color 2s, background-color 1.5s;
  transition: color 1s, border-color 2s, background-color 1.5s;

}

.project img{
  width: 100%;
  height: auto;
}

.project h3{
  padding: .4em;
  margin: 0;
}

.project:hover{
  background-color: var(--dark_bright);
  color: var(--warm);
  border-color: var(--darkest);
}

.tools{
  padding: 1em;
}
.tool{
  display: inline-block;
  position: relative;
  font-size: .8em;
  background-color: var(--cool);
  color: var(--dark);
  padding: .1em .3em;
  margin: .3em 2px 1em;
  border-radius: .1em;
  line-height: 1.2;
}

#lists{
  display: grid;
  grid-template-columns: 1fr;
}

#lists div{
  padding: 1em 1%;
}

#lists div h2{
  padding: 0 1em .2em;
  margin: 0;
}


.nsfw::before{
  color: var(--warning);
  content: "*NSFW* ";
}

@media (min-width: 640px){
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
  }

  h1{
    font-size: 2em;
    margin: .3em;
    padding: .2em;
  }

  header,
  nav {
    text-align: center;
  }

  content{
    padding: 0 1em;
  }

  .projects{
    grid-template-columns: repeat(3, 1fr);
  }

  #lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
