* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

:root {
  --dark: #0c0218;
  --deep: #1c0050;
  --bright: #9800ff;
  --cool: #3d4499;
  --text: #c7d8ff;
  --links: #f2eebc;
  --warning: #ff2a44;
}

body {
  font-Family: 'Open Sans', Sans-Serif;
  font-size: 1em;
  background-color: var(--dark);
  color: var(--text);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

a {
  color: var(--links);
  text-decoration: none;
}

.tile:hover a,
a:hover {
  color: var(--bright);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Sans-Serif;
  margin: .4em;
  padding: 0;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 33px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 22px; }

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-position: inside;
}

header {
  background: url('../img/SMB2019.svg') bottom center/contain repeat-x;
  height: 90px;
  margin-top: .1rem;
  position: relative;
}

header,
section,
footer {
  border-bottom: 2px solid var(--cool);
}

footer {
  background-color:var(--deep);
  font-size: .8em;
  padding: .4rem 0;
}

.site-title {
  text-shadow: 3px 0 0 var(--bright);
  position: absolute;
  margin: 0;
  padding: .8rem .8rem 0;
  bottom: -12px;
  color: var(--text);
}

.overlap-above {
  padding-top: 12px;
}

.contain {
  margin: 0 1rem;
}

.text {
  max-width: 49.5em;
}

.meta {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  font-size: .6rem;
  margin-bottom: .5em;
}
.bright { background-color: var(--deep); }

.tag {
  background-color: var(--cool);
  border-radius: .1em;
  color: var(--neutral);
  display: inline-block;
  line-height: 1.2;
  margin-left: .25em;
  padding: .25em .5em;
  position: relative;
}

.link {
  font-size: .8rem;
  background-color: var(--dark);
  display: inline-block;
  padding: .5em 1em;
  margin: .5em;
  border: 2px solid var(--text);
  border-radius: 8px;
  margin-right: 1em;
}

.link:hover {
  background-color: var(--cool);
  color: var(--text);
  text-shadow: 2px 0 0 var(--bright);
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
}

.bullets {
  list-style: inside circle;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||Delete below this line*/
.posts {
  display: block;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.post{
  display: block;
}

.posts .post:not(.with-cover){
  padding-top: 1em;
  padding-bottom: 2em;
}

.posts .post img {
  object-fit: cover;
  max-height: 600px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  list-style: none;
  padding: 0;
}

.tile,
.post {
  background-color: var(--dark);
  border: 4px solid var(--deep);
  padding-bottom: 10px;
}

.tile img {
  object-fit: cover;
  font-size: 0;
  line-height: 0;
  width: 100%;
  max-height: 256px;
}

.post .title,
.tile .title {
  padding: 6px;
  margin: 0;
}

.tile figure {
  margin: 0;
  position: relative;
  line-height: 0;
  display: block;
}

.tile a {
  height: 100%;
  width: 100%;
}

.tile .nsfw {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  font-size: 12px;
  bottom: 0;
  line-height: 1;
  text-transform: uppercase;
  background-color: var(--dark);
  opacity: .4;
  padding: 6px;
}

.tile:hover,
.post:hover {
  background-color: var(--deep);
  border-color: var(--text);
}

.tile:hover .nsfw {
  opacity: .7;
  background-color: var(--warning);
  color: var(--deep);
}

.tile:hover .tag {color: var(--text);}

.smooth {
  -webkit-transition: color .5s, border-color .5s, background-color .5s, opacity .4s, text-shadow .3s;
  transition: color .5s, border-color .5s, background-color .5s, opacity .4s, text-shadow .3s;
}

@media (min-width: 640px) {
  header {
    padding-top: 70px;
    height: 70px;
  }

  h1 {
    font-size: 64px;
    bottom: -16px;
  }

  .columns { grid-template-columns: 1fr 1fr; }
}
