<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spencer Berry - Developer</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <!-- {% include navigation.html %} -->
    <content>{{ content }}
      <div class="about">
        {% include about.html %}
      </div>
    </content>

    <footer>
      {% include footer.html %}
    </footer>
</body>
</html>
