---
layout: default
---
<section>
  <img src="../assets/img/{{page.image}}"/>
  <h2>{{page.title}}</h2>
  <div class="meta">
  {% for tool in page.tools %}
    <span class="tag">{{tool}}</span>
  {% endfor %}
  </div>
  <main class="text">
    {{content}}
  </main>
</section>

<section class="bright">
  <div>
    {% for link in page.links %}
      <a href="{{link.link}}" class="link smooth">{{link.label}}</a>
    {% endfor %}
  </div>
</section>

<section class="columns">
  <div class="text">
    <h3>Victories</h3>
    <ul class="bullets">
    {% for victory in page.victories %}
      <li>{{ victory }}</li>
    {% endfor %}
    </ul>
  </div>

  <div>
    <h3>Next Steps</h3>
    <ul class="bullets">
    {% for todo in page.todos %}
      <li>{{ todo }}</li>
    {% endfor %}
    </ul>
  </div>
</section>
{% if page.examples %}
  <section>
      <h3>More to see</h3>
      <ul class=" tiles">
      {% for example in page.examples %}
          <li class="tile smooth">
            <a href="{{ example.link }}" target="_blank">
              <figure>
                <img class="example-image"
              src="{{site.url}}/assets/img/{{ example.image }}" />
              {% if example.nsfw %}<figcaption class="nsfw smooth">⚠️
                {% for reason in example.nsfw %}
                  {{reason}} {% unless reason == example.nsfw.last %}&{% endunless %}
                {% endfor %}
              </figcaption>
              {% endif %}
              </figure>

              <h4 class="title smooth">{{example.label}}</h4>
              <div class="meta">
                {% for role in example.roles %}
                <span class="tag">{{role}}</span>
                {% endfor %}
              </div>
            </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
